

<div id="Carta" class="cuerpo d-flex">
    <header class="d-flex w100 ">
       <div class="w70"><h1>Menu</h1></div>
       <div class="w30" (click)="ActivarCarrito()"><img class="imgcarrito w50" src="./assets/img/PAG2/carrito.png" alt=""></div>
       <div id="btndiriz" class="w20 mg-top" (click)="Anterior();">-</div>
       <div class="pizza w60 mg-top"><img class="w100" src="./assets/img/PAG2/pizza.png" alt=""></div>
       <div id="btndirder" class="w20 mg-top" (click)="Siguiente();">+</div>
    </header>
    <section class="datos">
       <h2>{{platos[n].nombre}}</h2>
       <p> {{platos[n].descripcion}}</p>
       <h3>{{platos[n].precio}} <span class="signo">$</span></h3>
       <button (click)="PedidosPush()" >Agregar</button>
    </section>
 </div>

<div [ngClass]="{'oculto': !carritoOpen}" id="carro" class="oculto">
    <div (click)="ActivarCarrito()"  class="volverM">

    </div>
   <div id="contenidoCarro"   class="contenido-carro">
        <h1>Pedido</h1>
        <h6> total: {{montoTotal}}$</h6>
        <button (click)="Pagar()" class="w100">Pagar</button>
    <div *ngFor="let i of pedido; let index = index" class="w100 d-flex">
        <div class="item w100 d-flex">
            <div class="w100">
                <h6 class="textY nombreitem" >{{i.pizza.nombre}}</h6>
            </div>
            <div class="w100">
                <img class="w100" src="{{i.pizza.img}}" alt="">
            </div>
            <div class="w100 textCenter">
                <button (click)="EliminarPizza(index)" >Eliminar</button>
            </div>
        </div>
    </div>
   </div>
</div>
