<div class="cuerpo">
    <section class="inicio">
        <img src="./assets/img/PAG1/logo.png" alt="">
        <h1>Bienvenidos</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minus at officia rerum voluptatibus minima suscipit facilis, neque illum magnam voluptate non explicabo iure veniam accusantium odio! Fugiat, doloremque odio!
        </p>
        <button routerLink="/carta">Pedir</button>
    </section>
    <footer>
        <section class="w-33">
            <img class="icon" src="./assets/img/PAG1/icon3.png" alt="">
            <p class="footer-Encabezado"> Instagram</p>
        </section>
        <section class="w-33">
            <img class="icon" src="./assets/img/PAG1/icon2.png" alt="">
            <p class="footer-Encabezado">  +58-412666666</p>
        </section>
        <section class="w-33 border-left-1 text-center">
            <a routerLink="/inicio">
            <img class="icon" src="./assets/img/PAG1/icon.png" alt="">
            </a>
        </section>
    </footer>
</div>
