<div class="cuerpo2">
    <div class="cuerpo">
        <section class="inicio">
            <img src="./assets/img/PAG1/logo.png" alt="">
            <h1>Bienvenidos</h1>
            <p>
                A nuestra plataforma de pedidos rápidos, donde podrás especificar que pizzas deseas que llevemos hasta la puerta de tu hogar. Rápido, sencillo y Barato.
            </p>
            <button routerLink="/carta">Pedir</button><br>
            <img class="pizza" src="./assets/img/PAG1/pizza.png" alt="">
            <img class="pizza" src="./assets/img/PAG1/pizza.png" alt="">
            <img class="pizza" src="./assets/img/PAG1/pizza.png" alt="">
        </section>
        <footer>
            <section >
                <img class="icon" src="./assets/img/PAG1/icon3.png" alt="">
                <p class="footer-Encabezado"> Instagram</p>
            </section>
            <section >
                <img class="icon" src="./assets/img/PAG1/icon2.png" alt="">
                <p class="footer-Encabezado">  +58-412666666</p>
            </section>
            <section>
                <a routerLink="/inicio">
                <img class="icon" src="./assets/img/PAG1/icon.png" alt="">
                </a>
            </section>
        </footer>
    </div> 
</div>

