<div class="cuerpo d-flex-i">
    <div class="w100">
        <img  class="w100" src="./assets/img/PAG1/logo.png" alt="">
    </div>
    <div class="w100 text-center">
        <div class="carta">
            <input  id="user" type="text" placeholder="usuario" >
            <input  id="clave" type="password" placeholder="clave" >
            <button class="mt10" (click)="Loguear()">Loguear</button>
        </div>
    </div>
</div>
<div (click)="Loguear()"  [ngClass]="{'oculto': !errorvista}" class="error d-flex-i">
    <h3>Error al ingresar los datos vuelva a intentarlo</h3>
</div>