#menu{
    position: fixed;
    background: rgb(19, 19, 19);
    padding-top: 10px;
    padding-bottom: 15px;
}

.Menu{
    position: fixed;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.555);
}

.targeta-menu{
    position: absolute;
    top:30px;
    right: 0px;
    background: rgb(92, 92, 92);
    padding: 0px;
    width: 70%;
}

ul{
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
li{
    padding: 10px;
    padding-left: 20px;
    margin-top: 0;
    width: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}
li:hover{
    background: rgba(255, 255, 255, 0.198);
    cursor: pointer;
}
.oculto{
    display: none;
}

@media screen and (min-width: 800px) {

    .Menu{
        position: fixed;
        z-index: 10;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0);
        animation: menu 0.4s;
    }
    @keyframes menu {
        0% { left: 1000px; }
        100% { left: 0px; }
      }
}