<label>/carta</label><br>
<button onclick="GetCarta()">GET</button>
<button onclick="AddToCarta()">POST</button>
<br><br>/carta/:id<br>
<button onclick="GetSingleCarta(1)">GET</button>
<button onclick="UpdateCarta(1)">PUT</button>
<button onclick="DeleteCarta(1)">DELETE</button>

<br><br><label>/pedido</label><br>
<button onclick="GetPedido()">GET</button>
<button onclick="AddPedido()">POST</button>
<br><br>/pedido/:id<br>
<button onclick="GetSinglePedido(1)">GET</button>
<button onclick="DeletePedido(1)">DELETE</button>
<button onclick="GetSinglePedidoPlatos(1)">GET</button>
<button onclick="ValidarPedido(1)">PUT</button>
