.paddin-top-datos{
    padding-top: 25px;
    padding-left: 10px;

}
.baff{
    border-right: 1px solid white;    
}
#itemPizza{
    margin-top: 30px;
    background: rgb(24, 24, 24);
    border-radius: 25px;
    border: white 1px solid;
    width: 100%;
}
.fondo{
    background-image: url("../../assets/img/PAG1/fondo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

#lista{
    margin-top: 110px;
}
#menu{
    position: fixed;
    background: rgb(19, 19, 19);
    padding-top: 10px;
    padding-bottom: 15px;
}
.Busqueda{
    background: rgb(255, 196, 0);
    color: white;
}
#buscar{
    width: 100%;
    margin-top: 9px;
    background: rgb(255, 196, 0);
    border: 3px white solid;
}
.Menu{
    position: fixed;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.555);
}

.targeta-menu{
    position: absolute;
    top:30px;
    right: 0px;
    background: rgb(92, 92, 92);
    padding: 0px;
    width: 70%;
}

ul{
    list-style: none;
    width: 100%;
}
li{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}
.espacioback{
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.espacioback2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.oculto{
    display: none;
}
.mg-topo{
    margin: 3px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.boton-buscar{
    width: 20%;
}
.barra-busqueda{
    width: 60%;
}
.btnAgregar{
    width: 20%;
}
#editPizza{
    position: fixed;
    z-index: 20;
    top: 0%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: black;
}
#cartaEdit{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

}
#itemPizzaEdit{
    margin-top: 30px;
    background: rgb(24, 24, 24);
    border-radius: 25px;
    border: white 1px solid;
    width: 100%;
}
.btnAceptar{
    margin-top: 50px;
}
.btndelete{
    border: red 3px solid;
}
.IMG-E{
    width: 100%;
}
.dato-e{
    width: 100%;
}
@media screen and (min-width: 800px) {
    
    .dato-e{
        width: 50%;
    }
    .IMG-E{
        width: 50%;
    }
    .boton-buscar{
        width: 10%;
    }
    .barra-busqueda{
        width: 80%;
    }
    .btnAgregar{
        width: 10%;
    }
    .btnAceptar{
        margin-top: 200px;
    }
    #itemPizza{
        margin-top: 30px;
        background: rgb(24, 24, 24);
        border-radius: 25px;
        border: white 1px solid;
        width: 30%;
        margin-left: 20px;
    }
    .Menu{
        position: fixed;
        z-index: 10;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0);
        animation: menu 0.4s;
    }
    @keyframes menu {
        0% { left: 1000px; }
        100% { left: 0px; }
      }
}