/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html{
    height: 100%;
}
body{

    background: rgb(32, 32, 32);
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.d-flex-i{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.w10{
    width: 10%;
}

.w20{
    width: 20%;
}


.w30{
    width: 30%;
}


.w40{
    width: 40%;
}


.w50{
    width: 50%;
}


.w60{
    width: 60%;
}

.w70{
    width: 70%;
}


.w80{
    width: 80%;
}


.w90{
    width: 90%;
}


.w100{
    width: 100%;
}

input{
    background: none;
    border: none;
    border-radius: 20px;
    background: white;
    border: rgb(12, 12, 12) 3px solid;
    width: 80%;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
}

button{
    background: none;
    border: yellow 3px solid;
    border-radius: 20px;
    width: 150px;
    border-style: double;
    color: white;
}
