[
  {
  "id": 0,
  "idusuario": "231-1234567",
  "img": "blob",
  "validado": false
  },
  {
  "id": 1,
  "idusuario": "231-7654321",
  "img": "blob",
  "validado": false
  },
  {
  "id": 2,
  "idusuario": "231-1928374",
  "img": "blob",
  "validado": false
  }
]
