[
  {
  "id": 0,
  "nombre": "Consome de pollo",
  "descripcion": "Hervido de pollo con vegetales",
  "precio": 4.20,
  "imagen": "src/img/calditopollo.jpeg",
  "existencia": 0
  },
  {
  "id": 1,
  "nombre": "Carrillera de res",
  "descripcion": "Carne de vaca cocinada al grill",
  "precio": 69,
  "imagen": "src/img/carrillerares.jpeg",
  "existencia": 0
  },
  {
  "id": 2,
  "nombre": "Ensalada cesar",
  "descripcion": "Clasica ensalada de lechuga romana y trozos de pan tostado con jugo de limón, aceite de oliva, huevo, salsa Worcestershire, anchoas, ajo, mostaza de Dijon, queso parmesano y pimienta negra",
  "precio": 3.60,
  "imagen": "src/img/caesar.jpeg",
  "existencia": 0
  }
]
