[
  {
    "telefono": "231-1234567",
    "pass": "aaaaaaaaaaaaaa",
    "nombre": "Antonio Miguel Perez Gil",
    "cedula": "12345678",
    "direccion": "",
    "tipo": false
  },
  {
    "telefono": "231-7654321",
    "pass": "bbbbbbbbbb",
    "nombre": "Yoni Jose Bravo",
    "cedula": "87654321",
    "direccion": "plata2",
    "tipo": false
  },
  {
    "telefono": "231-1928374",
    "pass": "ccccccccccc",
    "nombre": "",
    "cedula": "",
    "direccion": "",
    "tipo": false
  }
]
